<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Para que la pag sea responsive-->
    <title>Ejemplo Webpack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/head.css" type="text/css" media="all">
    <link rel="stylesheet" href="./public/css/colors.css" type="text/css" media="all">
    <link rel="stylesheet" href="./public/css/generic.css" type="text/css" media="all">
    <!--<script>
      var name = this.name1;
      console.log(name);
    </script>-->
  </head>
  <body>
    <script>
      var name = <%-JSON.stringify(name)%>;    //Se declara para poder usar la variable en el componente (bundle)
    </script>    
    <div id="container"></div>
    
    <script type="text/javascript" src="../bundles/index2-bundle.js" charset="utf-8"></script>  
  </body>
</html>