/*NAV*/
.Nav_Color{
    background-color: #000000;
}
.Hamburger_Color{/*menu*/
    color: #FFFFFF;
}

/*For work*/
.Color1{
    background-color: red;
    
}
.Color2{
    background-color: green;
    
}
.Color3{
    background-color: yellow;
}

/*menu*/
.closeMenuIconColor{
    color: #FFFFFF;
}