/*NAV*/
.Nav{/*nav*/
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}
.row{/*bootstrap correction nav*/
    margin: 0 !important;
}
.Nav_Part1{/*logo*/
}
.Logo_Image{
    height: 70px;
    margin: 0 auto;
    /*width: 100%;
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 10px; 
    padding: 5px;*/
}
.Nav_Part2{/*space*/
    height: 70px;
}
.Nav_Part3{/*menu*/
    height: 70px;
}
.verticalCenterSpanContainer {/*center and size and cursor*/
    line-height: 70px;
    height: 70px;
    text-align: center;
}
.verticalCenterSpan {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 25px;
    cursor: pointer;
}
/*MENU*/
.Show_Element{
    display: block;
}
.Hide_Element{
    display: none;
}
.Menu_Background{/*fondo oscuro*/
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 4;
    overflow-x: hidden;
    background-color: rgba(45, 39, 47, 0.4);
}
.Menu_Element{
    height: 100%;
    width: 0;
    position: fixed;
    text-align: center;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #EEEEEE;
    overflow-x: hidden;
    transition: 0.3s;
}
.Menu_Width_Open{
    width: 200px;
}
.Menu_Width_Close{
    width: 0px;
}
.Menu_Remove_Icon{
    font-size: 25px;
    float: right;
    /*margin-top: 24px;
    margin-right: 24px;*/
    padding: 20px;
    cursor: pointer;
}
.closeIconContainer{
    width: 100%;
    height: 70px;
    background-color: #1CAAD9;
}
hr.style14 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
